<% include ../_header %>

  <div class="main_wrapper">
    <!-- top nav -->
    <% include ../_topnav %>

    <div class="container-fluid">
      <div class="row">

        <% include ../_sidebar %>

        <!-- contents strt -->
        <div class="contents">
          <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">
            <h1 class="text-center">Company Name</h1>
            <h1 class="page-header">All Users List</h1>
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>

                  <th><span>User</span></th>
                  <th><span>Created</span></th>
                  <th><span>Username</span></th>
                  <th><span>Email</span></th>
                  <th><span>Type</span></th>
                  <% for(var i=1; i < users.results.length; i++) { %>
                    <tr>
                      <td>
                        <a class="user-link" href="/users/<%= users.results[i].objectId %>"><%= users.results[i].fullName %></a>
                        <!-- <span class="user-subhead">Member</span> -->
                      </td>
                      <td><%= fromNow(users.results[i].createdAt) %></td>
                      <td class="text-left">
                        <%= users.results[i].username %>
                      </td>
                      <td>
                        <%= users.results[i].email %>
                      </td>
                      <td>
                        <%= users.results[i].userType %>

                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- contents end -->

      </div>
    </div>

  </div>

  <% include ../_footer %>
