<% include ../_header %>

  <div class="main_wrapper">
    <!-- top nav -->
    <% include ../_topnav %>

      <div class="container-fluid">
        <div class="row">

          <% include ../_sidebar %>

            <!-- contents strt -->
            <div class="contents">
              <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2 main">
                <h1 class="text-center">Company Name</h1>
                <h1 class="page-header">Asset List</h1>
                <div class="asset_list">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Tag</th>
                          <th>Location</th>
                          <th>Asset Added on</th>
                          <th>Assigned to</th>
                          <th>Last Assined on</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=1; i < assets.length; i++) { %>
                        <tr>
                          <td>
                            <a class="user-link" href="/assets/<%= assets[i].objectId %>"><%= assets[i].tag %></a>
                          </td>
                          <td><%= assets[i].location %></td>
                          <td><%= fromNow(assets[i].createdAt) %></td>
                          <td><%= assets[i].assigned_to %></td>
                          <td><%= fromNow(assets[i].updatedAt) %></td>
                        </tr>
                        <% } %>

                      </tbody>
                    </table>

                    <!-- <ul class="pagination">
                      <li><a href="#">«</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">»</a></li>
                    </ul> -->

                  </div>
                </div>
              </div>
            </div>
            <!-- contents end -->

        </div>
      </div>

  </div>

  <% include ../_footer %>
